{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <div{{ attributes.addClass('region--' ~ region) }}>
    <div class="pl-container header__container">
      <div class="header__logo">
        <a href="{{ url('<front>') }}">
          <img src="{{ directory }}/images/atk-logo.png" alt="{{ 'Home'|t }}" />
        </a>
      </div>
      {{ content }}
    </div>
  </div>
{% endif %}
